.contact {
  padding-top: 50px;
  color: #fff;
  z-index: 50;
  margin: 100px 30px;
  background-image: url("../images/wood-background-dark.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text)
}

.contact-form {
  width: 100%;
}


input {
  border: none;
  border-bottom: 1px solid var(--color-highlight);
  width: 90%;
  background-color:transparent;
  color: var(--color-text);
}

textarea {
  border: none;
  border-bottom: 1px solid var(--color-highlight);
  width: 90%;
  background-color:transparent;
  color: var(--color-text);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tel-number {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


@media (min-width: 768px) {
  .contact-page {
    flex-direction: row-reverse;
  }
  .contact-page > * {
    width: 50%;
    padding: 20px 60px;
  }
}
