.footer {
  background-color: rgb(250, 250, 250, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-dark);
  padding: 20px;
}

.footer-banner {
  margin: 30px;
}

.footer-barre {
  margin-bottom: -7px;
  z-index: 999;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.social-links > * {
  width: 25px;
  margin: 10px;
}

.social-link {
  width: 100%;
  margin: 0 20px;
  fill: red;
}

.phone-link {
  width: 70%;
}

.link-winter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.link-winter-text {
  margin-top: 0;
}

/* .winter-logo {
  width: 15%;
} */

.footer-nav-link {
  color: #000;
}

.page-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-nav-item {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 10px;
}

.copyright-text {
  font-size: 8px !important;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
  .footer > * {
    width: 50%;
  }

  .page-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .link-winter {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
