
:root {
  --color-highlight: #fff; 
  --color-background: #ffffff;
  --color-text-light: #fff; 
  --color-text-dark: rgb(55, 55, 55); 
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
}

h2, h3, h4{
  text-align: center;
  font-family: 'Rochester', cursive;
}

h2 {
  font-size: 40px;
}



.h3-color-inverse {
  color: var(--color-background);
}

p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}

.padding {
  padding: 20px 50px;
}

.button {
  margin: 10px 20px;
  padding: 5px 10px;
  color: var(--color-highlight);
  background-color: transparent;
  transition: all 500ms ease-in;
  border-radius: 50px;
  min-width: 100px;
  border: solid 3px var(--color-highlight);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Concert One', cursive;
}

.button:hover {
  color: var(--color-background);
  background-color: var(--color-highlight);
  transition: all 500ms ease-in;
}

a {
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-placeholder {
  height: 116px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}


