.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 60px;
  z-index:999;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}

.title {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Rochester', cursive;
  font-size: 50px;
  color: #000;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid black;
  width: 30vw;
}


