.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  z-index:100; 
  background-color: white;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
 }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Rochester', cursive;
  font-size: 50px;
  color: #000;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid black;
}

@media (min-width: 768px) {
  .header {
    margin-right: 60px;
 }

 h1 {
  font-size: 70px;
  width: 30vw;
}
}
