.welcome {
  padding-top: 50px;
  background-image: url("../images/wood-background-dark.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-text-light);
  z-index: 50;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  background-color: #000;
}




.intro-text {
  text-align: justify;
}

.signature {
  font-weight: bolder;
  text-align: right;
}


@media (min-width: 768px) {
  .welcome {
    flex-direction: row;
    height: 100vh;
  }

  .welcome-text {
  width: 40%;
  }

  
}
