.landing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

 h1 {
  color:#000;
  border-bottom: 1px solid #000;
}

.home-banner {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.restaurant-banner {
  background-image: url("../images/rest-landing.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.snack-banner {
  background-image: url("../images//snack-header.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.navbar {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  z-index: 1;
  top: 100px;
}


.hide {
  transform: scaleY(0) ;
  transition: transform 500ms ease-in;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 40px;
}

.mobile-icon {
  height: 30px;
  margin: 10px;
  z-index: 10;
}

.instagram-icon {
  height: 30px;
  margin: 10px;
  z-index: 10;
}

.main-logo {
  height: 50%;
}

.panorama {
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .landing {
    display: flex;
    flex-direction: row;
  }

  .restaurant-banner {
    background-size: cover;
    height: 50vh;

  }
  .snack-banner {
    background-size: cover;
    height: 50vh;

  }

  .home-banner {
    height: calc(100vh - 100px);
  }

  .landing-container {
    justify-content: space-around;
  }
  
}