.plat-du-jour-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.plat-du-jour {
  border: solid 3px var(--color-highlight);
  border-left: none;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.plat-du-jour > * {
  margin: 10px;
}

