.restaurant-container {
  margin: 50px 30px;
  background-image: url("../images/wood-background-dark.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

.rest-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.rest-2 {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;
}

.rest-background-img {
  height: 50vh;
  background-image: url("../images/Panorama.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

.rest-image-1-container {
  background-image: url("../images/restaurant.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40vh;
}

.rest-img {
  width: 80%;
  margin: 30px;
}

.rest-text {
  padding: 30px;
  display: flex;
}
.rest-text-container {
  display: flex;
  flex-direction: column-reverse;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.restaurant-menu-page {
  margin: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .rest-text-container {
    flex-direction: column;
  }
  .restaurant-menu {
    margin: 100px;
  }

  .restaurant-menu-page {
    margin: 40px;
  }
  .rest-image-1-container {
    background-size: cover;
  }
}
