.restaurant-landing {
  background-image: url("../images/restaurant-header.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 100vh;
}
  